body {
  background-image: url("../../assets/teste7.jpg");
  background-repeat: no-repeat;
  background-color: #4fa2d1;
  background-size: 100%, 40%;
}
.container {
  background-color: white;
  margin-left: 500px;
  height: 300px;
  width: 25%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.caontainer h4 {
  font-size: 30px;
}
.inputLabel {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.containerInput input {
  margin-left: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 15px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}

button {
  margin-top: 10px;
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.fadeOut {
  opacity: 0;
  width: 0;
  height: 0;
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}
.fadeIn {
  opacity: 1;
  width: 100px;
  height: 100px;
  transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
}
